@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

/* CSS Sasha Favre */

header {

    background-color: #c8dfff;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 20px;
    height: 200px;
}

.logo {
    width: 15%;
    height: 150%;
    position: relative;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

nav li {
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    font-family: Roboto Condensed;
}

nav a:hover {
    background-color: #fff;
    color: #9cbfe1;
}

.services {
    background-color: #f5f5f5;
    padding: 80px 0;
}

.services h2 {
    position: relative;
    height: 100px;
    position: top;
    font-family: Lobster;
    display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  margin-top: 0%;
  
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 50px;
}

.service {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.service img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
}

.service h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.service p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

footer {
    background-color: #9cbfe1;
    color:rgb(251, 251, 251) ;
    padding: 40px;
  }




  footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
 
  footer li {
    display: inline-block;
    margin: 0 10px;
  }
 
  footer a {
    color:black;
    text-decoration: none;
  }
 
  footer a:hover {
    color:#ccdea1;
  }
 
  /* Ajout de Font Awesome pour les icônes ajouter le lien en link dans le head */
  @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");




   .footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
   .footer-section {
    width: 33%;
    margin-bottom: 20px;
    font-family: Comorant;
  }
   .footer-section h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
   .footer-section ul {
    list-style: none;
    padding-left: 0;
  }
   .footer-section ul li {
    margin-bottom: 5px;
  }
   .bottom-footer {
    background-color: #fcd3ca;
    padding: 10px;
    text-align: center;
  }


  h3{
    font-family: Cormorant;
  }
  p{
    font-family: Cormorant;
  }


  ul{
    font-family: Cormorant;
  }
